In [1]:
x=int(input('enter a number :'))
if x%2==0:
    print("it is even")
else:
    print("odd")

enter a number :5
odd

In [2]:
x=int(input('enter your age'))
if x>=18:
    print('he is eligible to vote')
else:
    print('he is not eligible')

enter your age5
he is not eligible

In [3]:
x=int(input('enter a number'))
if x%7==0:
    print("it is divible by 7")
else:
    print("not divisible")

enter a number5
not divisible

In [4]:
x=int(input('enter a number'))
if x%5==0:
    print("hello")
else:
    print("bye")

enter a number5
hello

In [5]:
x=int(input('enter your percentage :'))
if x>90:
    print('Grade A')
elif x>80:
    print('Grade B')
elif x>60:
    print('Grade C')
else:
    print('Grade D')

enter your percentage :5
Grade D

In [6]:
x=int(input("enetr any number :"))
y=x%10
print(y)

enetr any number :5
5

In [7]:
x=int(input("enetr any number :"))
y=x%10
if y%3==0:
    print("it is divisible by 3")
else:
    print("it is not divisible")

enetr any number :5
it is not divisible

In [8]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [10]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [11]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [12]:
for i in range(1,11):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [13]:
x=0
for i in range(1,11):
    x+=i
print('sum=',x)

sum= 55

In [14]:
x=int(input('enter a number'))
for i in range(1,11):
    a=i*x
    print(i,'*',x,'=',a)

enter a number5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [15]:
x=input("enter a word : ")
for i in range(len(x)):
    if i%2==0 and i!=0:
        print(x[i])

enter a word : 5

In [16]:
for i in range(2,len(x),2):
    print(x[i])

In [17]:
l=[1,2,3,4,5,6,1]
if l[0]==l[-1]:
    print('its same')
else:
    print("its not same")

its same

In [18]:
l=[]
for i in range(6):
    x=int(input("enter the number : "))
    l.append(x)
for i in l:
    if i%5==0:
        print(i)

enter the number : 5
enter the number : 5
enter the number : 5
enter the number : 5
enter the number : 5
enter the number : 5
5
5
5
5
5
5

In [19]:
for i in range(1,10):
    for j in range(i+1):
        print(j,end=" ")
    print()

0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8 9

In [20]:
x=int(input('enter a number'))
for i in range(x):
    for j in range(i+1):
        print('*',end=' ')
    print()

enter a number5
*
* *
* * *
* * * *
* * * * *

In [21]:
l1=['m','na','i','ke']
l2=['y','me','s','lly']
L=[]
for i in range(len(l1)):
    L.append(l1[i]+l2[i])
print(L)

['my', 'name', 'is', 'kelly']

In [22]:
l1=['hello','take']
l2=['dear','sir']
l3=[]
for i in l1:
    for j in l2:
        l3.append(i+' '+j)
print(l3)

['hello dear', 'hello sir', 'take dear', 'take sir']

In [23]:
a=[]
for i in range(6):
    x=int(input('enter a  number'))
    a.append(x)
b=[]
for j in a:
    b.append(j*j)
print(b)

enter a  number5
enter a  number5
enter a  number5
enter a  number5
enter a  number5
enter a  number5
[25, 25, 25, 25, 25, 25]

In [24]:
q=[10,20,[300,400,[5000,6000],5000],30,40]
q[2][2].append(7000)
q

[10, 20, [300, 400, [5000, 6000, 7000], 5000], 30, 40]

In [25]:
x={'anu','anand','abu'}
for i in x:
    print(i)

anu
anand
abu

In [26]:
len(x)

3

In [27]:
type(x)

set

In [31]:
x.add('ravi')
x.add('ANAND')
x

{1, 2, 3, 4, 'ANAND', 'abu', 'anand', 'anu', 'ravi'}

In [34]:
z={1,2,3,4}
x.update(z)
x

{1, 2, 3, 4, 'ANAND', 'abu', 'anand', 'anu', 'ravi'}

In [37]:
x.remove(1)
x

{2, 3, 4, 'ANAND', 'abu', 'anand', 'anu', 'ravi'}